<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.firstprojectever">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="BlueJack-Kos"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.google_api"></activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/key_map" />

        <activity android:name=".plugins.homestart">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.booking_transaction_form" />
        <activity android:name=".Activity.detail_form" />
        <activity android:name=".Activity.Home" />
        <activity android:name=".Activity.Registration" />
        <activity android:name=".Activity.MainActivity"></activity>
    </application>

</manifest>